.search-card {
    max-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

mat-card {
    padding: 20px;
}

form {
    display: flex !important;
    flex-direction: row !important;
    gap: 20px !important;
}

mat-form-field {
    width: 100%;
}

button {
    white-space: nowrap;
}